/* 메인페이지 */
/* 그리드 리스트 */

.main-content .card {
  border: none;
}
.main-content .card .card-body {
  padding: 1rem 0;
  color: #222;
}
.main-content .card .img-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
  height: 200px;
}

.main-content .card .img-wrap .img-wrap-a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}
.main-content .card .img-wrap:hover .img-wrap-a {
  transform: scale(1.1);
}

.lecture-like {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.lecture-like i {
  color: pink;
  font-size: 30px;
}

.lecture-bookmark {
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
}
.lecture-bookmark i {
  color: skyblue;
  font-size: 30px;
}

.main-content .card .card-name {
  font-size: 0.6875rem;
}
.main-content .card .card-title {
  width: 100%;
  font-size: 1.125rem;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content .card .card-text {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 60px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-content .card .liked {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #a2a2a2;
  font-size: 11px;
}
.main-content .card .liked i {
  padding-right: 5px;
}
.main-content .card .card-price {
  font-size: 0.8125rem;
  font-weight: bold;
}

/* 마이페이지 */

.mp-title {
  margin-bottom: 60px;
}
.mp-title h2 {
  font-weight: bold;
}

/* 로그인 페이지, 회원가입 페이지 */

.lg-title,
.rs-title {
  font-size: 40px;
  padding-bottom: 30px;
}
.login-form .input-title,
.register-form .input-title {
  font-size: 20px;
  padding-bottom: 10px;
}
.input-flex {
  display: flex;
}
.input-flex .btn03 {
  flex-shrink: 0;
  padding: 0px 10px;
  background-color: #e8e8e8;
  border: solid 1px #adadad;
}
.login-form input,
.register-form input {
  width: 100%;
  border: solid 1px #e3e3e3;
  font-size: 20px;
  padding: 20px;
  border-radius: 6px;
  color: #222;
  box-sizing: border-box;
}
.signup {
  font-size: 14px;
  display: block;
  text-align: right;
  color: rgb(202, 202, 202);
  margin-bottom: 20px;
}

.login-form .btn01,
.register-form .btn01 {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

/* 검색페이지 */
.search-empty {
  font-size: 40px;
  width: 100% !important;
  text-align: center;
  color: #adadad;
}
