<!doctype html>
<html lang="en">

<head>

    <!-- Webpage Title -->
    <title>클래스202 | 회원가입</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css -->
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <link rel="stylesheet" href="../../static/css/jh_style.css"/>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        .capital_letter {
            color: rgb(255, 86, 0);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            font-size: 11px;
            margin: 2px 0px;
            padding-bottom: 10px;
        }
    </style>


    <script>
        // 아이디 중복 체크 여부
        let username_checked = false;
        // 아이디 중복 여부
        let username_duplicated = false;

        // 아이디 정규표현식
        function is_username(asValue) {
            var regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,20}$/;
            return regExp.test(asValue);
        }

        // 비밀번호 정규표현식
        function is_password(asValue) {
            var regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{8,20}$/;
            return regExp.test(asValue);
        }


        // 간단한 회원가입 함수입니다.
        // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
        function register() {
            let username = $('#userid').val();
            let password = $('#userpw').val();
            let password_check = $('#userpw_check').val();


            {#console.log("username", username);
            console.log("password", password);
            console.log("password_check", password_check);

            console.log("아이디 정규표현식", is_username(username));
            console.log("패스워드 정규표현식", is_password(password));

            console.log("username_checked", username_checked);
            console.log("username_duplicated", username_duplicated);#}


            // 아이디를 입력 안했을 경우
            if (username == "") {
                window.alert("아이디를 입력해주세요.");
            }
            // 아이디의 형식이 올바르지 않은 경우 (feat. 정규표현식)
            else if (!is_username(username)) {
                window.alert("아이디의 형식이 올바르지 않습니다.");
            }
            // 아이디 중복 여부가 확인 안됐을 경우 1
            else if (username_checked == false && username_duplicated == false) {
                window.alert("아이디 중복 여부를 확인해주세요.")
            }
            // 아이디 중복 여부가 확인 안됐을 경우 2
            else if (username_checked == false && username_duplicated == true) {
                window.alert("아이디 중복 여부를 확인해주세요.");
            }
            // 아이디가 중복되는 경우
            else if (username_duplicated == true) {
                window.alert("이미 존재하는 아이디 입니다.");
            }
            // 패스워드가 입력되지 않은 경우
            else if (password == "") {
                window.alert("비밀번호를 입력해주세요.");
            }
            // 패스워드의 형식이 올바르지 않은 경우 (feat. 정규표현식)
            else if (!is_password((password))) {
                window.alert("비밀번호의 형식이 올바르지 않습니다.");
            }
            // 패스워드 확인이 입력되지 않은 경우
            else if (password_check == "") {
                window.alert("비밀번호를 확인해주세요.")
            }
            // 패스워드 vs. 패스워드 확인이 다를 경우
            else if (password != password_check) {
                window.alert("비밀번호가 일치하지 않습니다.");
            }
            // 모든 예외 처리 통과했을 경우
            else {
                $.ajax({
                    type: "POST",
                    url: "/api/user/signup",
                    data: {
                        id_give: username,
                        pw_give: password,
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            window.alert('회원가입이 완료되었습니다.');
                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }


        }

        // 아이디 중복 확인
        function username_duplicated_check() {
            console.log("username_duplicated_check 실행");
            username_checked = true;
            let username = $('#userid').val();
            console.log("username", username);

            // ajax로 서버에 아이디를 전달하여 아이디 중복 여부 확인
            $.ajax({
                type: "POST",
                url: '/api/sign_up/check_dup',
                data: {
                    username_give: username,
                },
                success: function (response) {
                    console.log(response);
                    if (response['exists'] == true) {
                        username_duplicated = true;
                        username_checked = false;
                        window.alert("이미 존재하는 아이디입니다.");
                    } else {
                        username_duplicated = false;
                        window.alert("사용 가능한 아이디입니다.");
                    }
                }
            })
        }

    </script>
</head>

<body>
<div class="wrapper">
    <div class="container">
        <header class="main-header">
            <div class="main-header-wrap">
                <div class="main-header-container">
                    <a href="/">
                        <h1 class="logo">CLASS202</h1>
                    </a>
                    <div></div>
                </div>
        </header>
        <div class="inner">
            <div class="content">
                <h2 class="rs-title">회원가입</h2>
                <div class="rs-cont">
                    <div class="register-form">
                        <div class="register-form-div">
                            <p class="input-title">아이디</p>
                            <div class="input-flex">
                                <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                       placeholder="아이디를 입력해주세요">
                                <label class="" for="userid"></label>
                                <button class="btn03" onclick="username_duplicated_check()">아이디 중복 확인</button>
                            </div>
                        </div>
                        <div class="register-form-div">
                            <p class="input-title">비밀번호</p>
                            <input type="password" class="input" id="userpw" placeholder="********">
                            <label class="" for="userpw"></label>
                        </div>
                        <div class="register-form-div">
                            <p class="input-title">비밀번호 확인</p>
                            <input type="password" class="input" id="userpw_check" placeholder="********">
                            <label class="" for="userpw"></label>
                            <div class="capital_letter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
                                     viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                          d="M21.872 19.51A1 1 0 0121 21H3a1 1 0 01-.872-1.49l9-16a1 1 0 011.743 0l9 16zM13 15V9h-2v6h2zm0 3v-2h-2v2h2z"
                                          fill="#ff5600"></path>
                                </svg>
                                영문 대문자/영문 소문자/숫자/특수문자 중 2가지 이상 조합, 8자~32자
                            </div>
                        </div>
                        {# <div class="register-form-div">
                                <p class="input-title">닉네임</p>
                                <input type="text" class="input" id="usernick" placeholder="">
                                <label class="" for="usernick"></label>
                            </div>#}
                        <button class="btn01" onclick="register()">동의하고 회원가입</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>